@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);

:root {
--VeryDarkBlue: hsl(233, 47%, 7%); /*  main background */
--DarkDesaturatedBlue: hsl(244, 38%, 16%); /*card background*/
--SoftViolet: hsl(277, 64%, 61%); /*accent*/
--White: hsl(0, 0%, 100%); /*main heading, stats*/
--SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
--SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.6); /*stat headings*/
}

* {
    margin: 0px;
    border: 0px;
    padding:0px;
    color: var(--White);
    box-sizing: border-box;
}

@media screen and (max-width: 380px) {

.container .content .background {
    width: 335px;   
    background-image: url(./images/image-header-mobile.jpg);
}

.container .content .color {
    width: 240px;
    height: 150px;
}

}

.container {
    background-color: var(--VeryDarkBlue);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.container .content {
    align-self: center;    
    width: 68vw;
    height: 446px;
    position: absolute;
    background-color: var(--DarkDesaturatedBlue);
    border-radius: 10px;
}

.container .content .background {
    width: 540px;
    height: 446px;
    position: absolute;
    right: 0px;
    background-image: url(./images/image-header-desktop.jpg);
    border-radius: 0px 10px 10px 0px;
}

.container .content .color {
    width: 100%;
    height: 100%;
    background-color: var(--SoftViolet);
    opacity: 0.5;
    border-radius: 0px 10px 10px 0px;
}

.container .content .text {
    padding: 70px;
    padding-right: 90px;
    width: 50%;
    height: 100%;
}

.container .content .text .text-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
}

.container .content .text .text-title span {
    color: var(--SoftViolet);
}

.container .content .text .text-content {
    margin-bottom: 80px;
}

.container .content .text .text-value {
    display: flex;
    justify-content: space-between;    
    padding-right: 30px;
}

.container .content .text .text-value .value {
    font-weight: 700;
    font-size: 26px;
}

.container .content .text .text-value .subtitle {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
}





.attribution {
    position: absolute;
    bottom: 0px;
    width: 100%;
}